set_location IN_MUX_bfv_9_12_0_ 9 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_13_0_ 9 13 0 #ICE_CARRY_IN_MUX
set_location uut.ALU_main.un1_A_cry_0_c_THRU_CRY_0 9 12 0 #SB_CARRY
set_location uut.seq.counter.T_fast_2_THRU_LUT4_0 9 15 5 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_THRU_LUT4_0 8 14 4 #SB_LUT4
set_location uut.seq.counter.T_2_THRU_LUT4_0 8 15 7 #SB_LUT4
set_location uut.seq.counter.T_1_fast_3_THRU_LUT4_0 8 16 0 #SB_LUT4
set_location uut.seq.counter.T_1_fast_1_THRU_LUT4_0 9 15 6 #SB_LUT4
set_location uut.seq.counter.T_1_fast_0_THRU_LUT4_0 9 15 7 #SB_LUT4
set_location uut.seq.counter.T_1_RNIT9ANK_1_uut.seq.q_ret_REP_LUT4_0 7 14 2 #SB_LUT4
set_location uut.seq.counter.T_1_4_THRU_LUT4_0 11 9 6 #SB_LUT4
set_location uut.seq.counter.T_1_3_THRU_LUT4_0 11 14 5 #SB_LUT4
set_location uut.seq.counter.T_1_1_THRU_LUT4_0 11 10 4 #SB_LUT4
set_location uut.seq.counter.T_1_0_THRU_LUT4_0 12 12 2 #SB_LUT4
set_location uut.mem.data_1_iv_uut.b_reg.ff8.q_REP_LUT4_0 6 13 1 #SB_LUT4
set_location uut.mem.data_1_iv_uut.acc.ff8.q_REP_LUT4_0 11 13 2 #SB_LUT4
set_location uut.mem.data_1_iv_uut.IR.ff8.q_0_ne_REP_LUT4_0 7 13 5 #SB_LUT4
set_location uut.mem.data_1_2_ivdup_uut.b_reg.ff5.q_REP_LUT4_0 7 12 1 #SB_LUT4
set_location uut.mem.data_1_2_ivdup_uut.acc.ff5.q_REP_LUT4_0 11 13 4 #SB_LUT4
set_location uut.mem.data_1_2_ivdup_uut.IR.ff5.q_0_ne_REP_LUT4_0 7 13 2 #SB_LUT4
set_location uut.mem.data_1_1_iv_uut.b_reg.ff6.q_REP_LUT4_0 5 12 1 #SB_LUT4
set_location uut.mem.data_1_1_iv_uut.acc.ff6.q_REP_LUT4_0 11 13 3 #SB_LUT4
set_location uut.mem.data_1_1_iv_uut.IR.ff6.q_0_ne_REP_LUT4_0 8 13 4 #SB_LUT4
set_location uut.mem.data_1_0_iv_uut.b_reg.ff7.q_REP_LUT4_0 5 13 1 #SB_LUT4
set_location uut.mem.data_1_0_iv_uut.acc.ff7.q_REP_LUT4_0 11 13 1 #SB_LUT4
set_location uut.mem.data_1_0_iv_uut.IR.ff7.q_0_ne_REP_LUT4_0 7 13 4 #SB_LUT4
set_location uut.IR.ff8.q_0_ne_RNIB9TFK_uut.IR.ff8.q_0_fast_REP_LUT4_0 8 15 1 #SB_LUT4
set_location uut.IR.ff7.q_0_ne_RNI7UKPK_uut.IR.ff7.q_0_fast_REP_LUT4_0 8 14 7 #SB_LUT4
set_location uut.IR.ff6.q_0_ne_RNIV8OLK_uut.IR.ff6.q_0_fast_REP_LUT4_0 9 15 4 #SB_LUT4
set_location uut.IR.ff5.q_0_ne_RNINJRHK_uut.IR.ff5.q_0_rep1_REP_LUT4_0 8 15 0 #SB_LUT4
set_location uut.IR.ff5.q_0_ne_RNINJRHK_uut.IR.ff5.q_0_fast_REP_LUT4_0 8 15 6 #SB_LUT4
set_location uut.AR_BUF.out_1_1_ivdup_uut.b_reg.ff2.q_REP_LUT4_0 11 15 1 #SB_LUT4
set_location uut.AR_BUF.out_1_1_ivdup_uut.acc.ff2.q_REP_LUT4_0 6 9 0 #SB_LUT4
set_location uut.AR_BUF.out_1_1_ivdup_uut.IR.ff2.q_ne_REP_LUT4_0 7 15 4 #SB_LUT4
set_location uut.AR_BUF.out_1_0_ivdup_uut.acc.ff3.q_REP_LUT4_0 7 9 1 #SB_LUT4
set_location uut.AR_BUF.g0_4_uut.b_reg.ff1.q_REP_LUT4_0 11 15 0 #SB_LUT4
set_location uut.AR_BUF.g0_4_uut.acc.ff1.q_REP_LUT4_0 9 8 2 #SB_LUT4
set_location uut.AR_BUF.g0_4_uut.IR.ff1.q_ne_REP_LUT4_0 7 15 0 #SB_LUT4
set_location uut.AR_BUF.g0_4_uut.AR.ff1.q_ne_REP_LUT4_0 9 10 2 #SB_LUT4
set_location uut.AR_BUF.g0_1_uut.b_reg.ff4.q_REP_LUT4_0 9 11 1 #SB_LUT4
set_location uut.AR_BUF.g0_1_uut.acc.ff4.q_REP_LUT4_0 11 13 0 #SB_LUT4
set_location uut.AR_BUF.g0_1_uut.IR.ff4.q_ne_REP_LUT4_0 8 13 3 #SB_LUT4
set_location uut.AR_BUF.g0_1_uut.AR.ff4.q_ne_REP_LUT4_0 12 11 2 #SB_LUT4
set_location uut.seq.counter.T_1_RNI215E1[0] 11 10 0 #SB_LUT4
set_location uut.seq.counter.T_1[4] 11 9 6 #SB_DFFN
set_location uut.ALU_main.ALU_Out_0[6] 6 11 3 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNI28LI1[0] 9 16 2 #SB_LUT4
set_location uut.seq.B_LD_2_tz 9 14 2 #SB_LUT4
set_location uut.mem.data_2_7_0_.m18 11 11 5 #SB_LUT4
set_location uut.mem.data_2_7_0_.N_11_i_m 11 14 7 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_RNIV9NU 9 15 3 #SB_LUT4
set_location uut.AR_BUF.out_1_1_iv_2 6 10 4 #SB_LUT4
set_location uut.AR_BUF.out_1_0_ivdup 8 11 1 #SB_LUT4
set_location uut.pc.program_counter_RNO_4[0] 9 16 6 #SB_LUT4
set_location uut.mem.data_2_7_0_.m6 12 14 1 #SB_LUT4
set_location uut.AR_BUF.out_1_0_iv_2_1_1 7 14 7 #SB_LUT4
set_location uut.AR_BUF.g0_1_0_6 8 9 6 #SB_LUT4
set_location uut.AR.ff3.q 12 10 3 #SB_DFFN
set_location uut.pc.program_counter_RNO_1[0] 9 10 4 #SB_LUT4
set_location uut.mem.data_2_7_0_.m15 12 13 3 #SB_LUT4
set_location uut.AR_BUF.out_1_iv_3 12 13 4 #SB_LUT4
set_location uut.AR_BUF.g0_3_6 9 10 1 #SB_LUT4
set_location uut.mem.data_2_7_0_.g0_0 11 12 0 #SB_LUT4
set_location uut.seq.counter.T_1_RNIFFTC1[0] 12 12 7 #SB_LUT4
set_location uut.mem.data_2_7_0_.g0 11 12 4 #SB_LUT4
set_location uut.acc.ff6.q 11 13 3 #SB_DFFNE
set_location uut.ALU_main.un1_A_cry_1_c_RNI7KL45 9 12 3 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_1_c 9 12 2 #SB_CARRY
set_location uut.seq.counter.T_1[1] 11 10 4 #SB_DFFN
set_location uut.IR.ff2.q_ne 7 15 4 #SB_DFFNE
set_location uut.AR_BUF.g0_1_a10_3_0 8 8 6 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_3_c_RNIGUMDE 7 12 3 #SB_LUT4
set_location uut.ALU_main.ALU_Out_0[5] 6 12 4 #SB_LUT4
set_location uut.ALU_main.un1_A_axb_5_l_ofx 9 13 3 #SB_LUT4
set_location uut.pc.program_counter_RNO_2[0] 8 11 5 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_0_c 9 12 1 #SB_CARRY
set_location uut.seq.counter.T_1_fast_RNITEB42[0] 8 14 1 #SB_LUT4
set_location uut.pc.un1_inc 11 10 6 #SB_LUT4
set_location uut.pc.program_counter_RNO[2] 7 10 7 #SB_LUT4
set_location uut.IR.ff6.q_ret_1_fast 8 15 4 #SB_DFFN
set_location uut.mem.data_1_iv 6 14 3 #SB_LUT4
set_location uut.mar.ff2.q_ne 11 11 1 #SB_DFFNE
set_location uut.seq.counter.T_fast_RNIH09P[2] 9 16 4 #SB_LUT4
set_location uut.AR_BUF.out_1_0_iv_2_1 7 14 1 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_RNIJDGJ 9 14 0 #SB_LUT4
set_location uut.AR_BUF.out_1_iv_0 12 13 0 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNI4JTR1[0] 8 16 1 #SB_LUT4
set_location uut.AR_BUF.g0_3_a10_0_2 9 9 1 #SB_LUT4
set_location uut.AR_BUF.g0_1_a10_4_1 9 9 7 #SB_LUT4
set_location uut.seq.counter.T_fast[2] 9 15 5 #SB_DFFN
set_location uut.mem.data_1_2_ivdup 7 12 4 #SB_LUT4
set_location uut.ALU_main.ALU_Out_0[0] 9 16 3 #SB_LUT4
set_location uut.seq.B_LD_1_tz 11 14 1 #SB_LUT4
set_location uut.mar.ff1.q_sbtinv 12 13 5 #SB_LUT4
set_location uut.b_reg.ff7.q 5 13 1 #SB_DFFNE
set_location uut.seq.decoder.D_4_0 8 15 5 #SB_LUT4
set_location uut.mem.data_1_1_iv 6 12 6 #SB_LUT4
set_location uut.IR.ff8.q_0_fast 8 15 1 #SB_DFFN
set_location uut.AR_BUF.g0_1_0_1 8 8 0 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNI4JTR1_0[0] 9 15 2 #SB_LUT4
set_location uut.seq.counter.T_1_fast[1] 9 15 6 #SB_DFFN
set_location uut.AR_BUF.g0_0 12 12 4 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNIFJ9BG_0[0] 9 10 7 #SB_LUT4
set_location uut.pc.program_counter_RNO[1] 8 10 4 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_6_c 9 12 7 #SB_CARRY
set_location uut.seq.counter.T_RNIEPQK[2] 9 14 7 #SB_LUT4
set_location uut.mem.data_1_0_iv 7 11 6 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_3_c_RNIF4U45 9 12 5 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_0_c_RNI3CH45 9 12 2 #SB_LUT4
set_location uut.pc.program_counter[2] 7 10 7 #SB_DFF
set_location uut.IR.ff8.q_0_ne_RNIB9TFK 6 14 4 #SB_LUT4
set_location uut.IR.ff2.q_ne_RNI3V695 7 11 4 #SB_LUT4
set_location uut.seq.counter.T_RNIEDK31[2] 8 12 4 #SB_LUT4
set_location uut.IR.ff3.q_RNIILCK5 7 14 0 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_0_s 9 12 1 #SB_LUT4
set_location uut.pc.program_counter_RNO_0[3] 11 12 2 #SB_LUT4
set_location uut.mar.ff1.q_ne 12 14 5 #SB_DFFNE
set_location uut.seq.counter.T_1_RNIEETC1[0] 7 10 0 #SB_LUT4
set_location uut.pc.program_counter_RNO_1[1] 8 10 2 #SB_LUT4
set_location uut.mem.data_2_7_0_.m22 11 11 3 #SB_LUT4
set_location uut.AR_BUF.out_1_iv_2 12 11 5 #SB_LUT4
set_location uut.AR_BUF.out_1_2_iv_2 9 9 5 #SB_LUT4
set_location uut.AR_BUF.g0_0_o5_0_0 8 8 3 #SB_LUT4
set_location uut.ALU_main.un1_A_axb_4_l_ofx 7 12 7 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_RNI6BLF1 8 12 5 #SB_LUT4
set_location uut.out_reg.ff5.q 6 14 7 #SB_DFFN
set_location uut.mem.data_1_2_iv_0 7 12 6 #SB_LUT4
set_location uut.IR.ff7.q_0_ne_RNI7UKPK 7 11 7 #SB_LUT4
set_location uut.seq.q_ret_RNIAFH51 8 14 5 #SB_LUT4
set_location uut.seq.counter.T_1_RNIVVKI3[3] 8 12 6 #SB_LUT4
set_location uut.b_reg.ff4.q 9 11 1 #SB_DFFNE
set_location uut.AR_BUF.g0_1_0_2 8 10 0 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_2_c_RNIAIGDE 11 12 5 #SB_LUT4
set_location uut.seq.q_ret_RNI52E81_0 7 13 3 #SB_LUT4
set_location uut.seq.counter.T_1[0] 12 12 2 #SB_DFFN
set_location uut.IR.ff7.q_ret_1_fast_RNO 8 14 3 #SB_LUT4
set_location uut.AR_BUF.g0_3_2 9 10 0 #SB_LUT4
set_location uut.AR_BUF.g0_3 8 13 0 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_6_c_RNIUOL0E 6 13 0 #SB_LUT4
set_location uut.ALU_main.ALU_Out_0[2] 7 11 0 #SB_LUT4
set_location uut.b_reg.ff6.q 5 12 1 #SB_DFFNE
set_location uut.ALU_main.un1_A_axb_2_l_ofx 9 13 7 #SB_LUT4
set_location uut.acc.ff4.q 11 13 0 #SB_DFFNE
set_location uut.AR.ff1.q_ne 9 10 2 #SB_DFFNE
set_location uut.seq.counter.T_1_fast[3] 8 16 0 #SB_DFFN
set_location uut.pc.program_counter_RNO_2[3] 12 11 4 #SB_LUT4
set_location uut.b_reg.ff8.q 6 13 1 #SB_DFFNE
set_location uut.acc.ff8.q_RNIGMD71 6 14 2 #SB_LUT4
set_location uut.IR.ff1.q_ne 7 15 0 #SB_DFFNE
set_location uut.ALU_main.un1_A_cry_4_c_RNIMATDE 6 12 5 #SB_LUT4
set_location uut.seq.counter.T[2] 8 15 7 #SB_DFFN
set_location uut.seq.counter.T_1_fast_RNI6J9S[3] 8 16 7 #SB_LUT4
set_location uut.seq.counter.T_1_RNIU1302[3] 11 10 5 #SB_LUT4
set_location uut.seq.counter.T_1_RNIT9ANK[1] 6 12 1 #SB_LUT4
set_location uut.pc.program_counter_RNO[3] 11 12 3 #SB_LUT4
set_location uut.acc.ff3.q 7 9 1 #SB_DFFNE
set_location uut.IR.ff6.q_ret_1 8 16 6 #SB_DFFN
set_location uut.AR_BUF.g0_1_a8_3 8 9 7 #SB_LUT4
set_location uut.AR_BUF.g0_0_0 7 10 6 #SB_LUT4
set_location uut.pc.program_counter_RNO_0[0] 8 10 5 #SB_LUT4
set_location uut.acc.ff2.q 6 9 0 #SB_DFFNE
set_location uut.IR.ff6.q_ret_1_RNO 8 16 6 #SB_LUT4
set_location uut.IR.ff4.q_ne 8 13 3 #SB_DFFNE
set_location uut.seq.un10_ACC_LD_x1 9 16 1 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_RNI48EP1 12 10 6 #SB_LUT4
set_location uut.pc.program_counter_RNO_3[3] 11 10 1 #SB_LUT4
set_location uut.pc.program_counter[0] 8 10 6 #SB_DFF
set_location uut.pc.g0_2 11 10 2 #SB_LUT4
set_location uut.b_reg.ff2.q 11 15 1 #SB_DFFNE
set_location uut.AR_BUF.out_1_0_iv_2_0 7 10 1 #SB_LUT4
set_location uut.seq.un13_ACC_LD_x1 8 14 0 #SB_LUT4
set_location uut.seq.q_ret 7 14 2 #SB_DFFN
set_location uut.seq.counter.T_2_rep1_RNIGC8C1 8 13 5 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNI38VD1[1] 12 14 2 #SB_LUT4
set_location uut.seq.counter.T_1_RNIFRTJ2[3] 11 14 0 #SB_LUT4
set_location uut.seq.counter.T_1_RNI2G205[0] 12 10 7 #SB_LUT4
set_location uut.out_reg.ff3.q_RNO 11 14 4 #SB_LUT4
set_location uut.IR.ff8.q_0_ne 7 13 5 #SB_DFFNE
set_location uut.AR_BUF.out_1_2_iv_1 9 8 4 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_1_c_RNI46ADE 8 11 3 #SB_LUT4
set_location uut.pc.program_counter_RNO_4[1] 9 11 4 #SB_LUT4
set_location uut.mar.ff3.q 12 13 6 #SB_DFFN
set_location uut.IR.ff4.q_ne_RNINTO01 8 13 2 #SB_LUT4
set_location uut.ALU_main.g0_1 8 11 2 #SB_LUT4
set_location uut.seq.counter.T_2_rep1 8 14 4 #SB_DFFN
set_location uut.seq.q_ret_1 6 12 2 #SB_DFFN
set_location uut.seq.counter.T_2_rep1_RNIHU2O 9 14 1 #SB_LUT4
set_location uut.pc.program_counter_RNO_1[3] 11 10 3 #SB_LUT4
set_location uut.ALU_main.ALU_Out_0[1] 11 9 0 #SB_LUT4
set_location uut.seq.decoder.D_0_2 9 14 3 #SB_LUT4
set_location uut.buf_clk_1_inferred_clock_0_RNO 5 9 2 #SB_LUT4
set_location uut.b_reg.ff3.q 8 11 1 #SB_DFFNE
set_location uut.IR.ff6.q_0_ne_RNIV8OLK 6 12 7 #SB_LUT4
set_location uut.out_reg.ff4.q 12 13 2 #SB_DFFN
set_location uut.mem.data_2_7_0_.g1 12 13 7 #SB_LUT4
set_location uut.seq.counter.T_1_RNI4F1C2[3] 8 16 2 #SB_LUT4
set_location uut.mem.data_2_7_0_.m13 11 11 0 #SB_LUT4
set_location uut.b_reg.ff1.q 11 15 0 #SB_DFFNE
set_location uut.IR.ff7.q_ret_1_RNO 8 14 6 #SB_LUT4
set_location uut.AR_BUF.g0_1 12 14 0 #SB_LUT4
set_location uut.ALU_main.ALU_Out_0[4] 7 12 2 #SB_LUT4
set_location uut.IR.ff4.q_ne_RNI59RD5 12 11 3 #SB_LUT4
set_location uut.ALU_main.un1_A_axb_1_l_ofx 9 13 1 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_RNI8TE81 8 12 0 #SB_LUT4
set_location uut.pc.program_counter_RNO_2[1] 9 11 5 #SB_LUT4
set_location uut.IR.ff1.q_ne_RNIMP2B1 9 10 5 #SB_LUT4
set_location uut.AR_BUF.out_1_1_ivdup 11 11 1 #SB_LUT4
set_location uut.seq.q_ret_RNI52E81 8 12 7 #SB_LUT4
set_location uut.pc.program_counter[3] 11 12 3 #SB_DFF
set_location uut.ALU_main.un1_A_cry_3_c 9 12 4 #SB_CARRY
set_location uut.IR.ff5.q_0_ne 7 13 2 #SB_DFFNE
set_location uut.AR_BUF.out_1_1_iv_0 6 10 3 #SB_LUT4
set_location uut.pc.program_counter_RNO_0[2] 11 10 7 #SB_LUT4
set_location uut.ALU_main.un1_A_axb_0_l_ofx 9 13 5 #SB_LUT4
set_location uut.seq.counter.T_RNI3K4S[2] 12 10 0 #SB_LUT4
set_location uut.pc.program_counter_RNO_3[1] 8 10 1 #SB_LUT4
set_location uut.acc.ff1.q 9 8 2 #SB_DFFNE
set_location uut.AR_BUF.out_1_iv_2_1 12 13 1 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_2_c_RNIAIGDE_0 11 12 7 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_RNIJ9B11 9 14 5 #SB_LUT4
set_location uut.acc.ff8.q 11 13 2 #SB_DFFNE
set_location uut.AR_BUF.out_1_2_iv_3 7 8 6 #SB_LUT4
set_location uut.AR_BUF.g0_9 12 10 2 #SB_LUT4
set_location uut.AR_BUF.g0_0_a5_0 7 16 2 #SB_LUT4
set_location uut.seq.decoder.D_0_1 8 12 3 #SB_LUT4
set_location uut.seq.counter.T_fast_RNICCPP[2] 9 16 5 #SB_LUT4
set_location uut.out_reg.ff4.q_RNO 12 13 2 #SB_LUT4
set_location uut.mem.data_2_7_0_.N_7_i_m_sx 12 14 3 #SB_LUT4
set_location uut.acc.ff7.q_RNIFKC71 7 14 6 #SB_LUT4
set_location uut.IR.ff7.q_0_fast 8 14 7 #SB_DFFN
set_location uut.seq.decoder.D_1_0_2 9 16 0 #SB_LUT4
set_location uut.seq.counter.T_1_RNII3T14[3] 11 14 2 #SB_LUT4
set_location uut.acc.ff7.q 11 13 1 #SB_DFFNE
set_location uut.IR.ff7.q_ret_1 8 14 6 #SB_DFFN
set_location uut.IR.ff5.q_0_rep1_RNIIHI7 8 13 1 #SB_LUT4
set_location uut.AR_BUF.g0_1_0_5 8 9 1 #SB_LUT4
set_location uut.AR_BUF.g0_0_a5_0_2 7 16 1 #SB_LUT4
set_location uut.ALU_main.un1_A_axb_6_l_ofx 9 13 2 #SB_LUT4
set_location uut.seq.decoder.D_2_0_x 8 15 2 #SB_LUT4
set_location uut.mem.data_2_7_0_.m26 11 14 3 #SB_LUT4
set_location uut.IR.ff5.q_0_ne_RNINJRHK 7 12 5 #SB_LUT4
set_location uut.AR_BUF.g0_4 12 14 5 #SB_LUT4
set_location uut.AR_BUF.g0_3_3 9 8 1 #SB_LUT4
set_location uut.AR_BUF.g0_1_a10_3_2 7 8 2 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_5_c_RNINK655 9 12 7 #SB_LUT4
set_location uut.ALU_main.ALU_Out_0[3] 11 12 6 #SB_LUT4
set_location uut.IR.ff6.q_0_ne 8 13 4 #SB_DFFNE
set_location uut.IR.ff3.q_RNO 11 16 0 #SB_LUT4
set_location uut.AR_BUF.out_1_1_iv_3_1_0 6 10 2 #SB_LUT4
set_location uut.seq.counter.T_1_RNI0KMT[0] 12 12 5 #SB_LUT4
set_location uut.AR_BUF.g0_1_1 8 9 2 #SB_LUT4
set_location N_62_i 5 9 1 #SB_LUT4
set_location uut.seq.counter.T_1_fast[0] 9 15 7 #SB_DFFN
set_location uut.seq.counter.T_1_fast_RNI28LI1_0[0] 9 14 4 #SB_LUT4
set_location uut.pc.program_counter_RNO[0] 8 10 6 #SB_LUT4
set_location uut.out_reg.ff3.q 11 14 4 #SB_DFFN
set_location uut.IR.ff6.q_ret_1_fast_RNO 8 15 4 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNIU5S31[0] 9 15 1 #SB_LUT4
set_location uut.AR.ff2.q 6 10 5 #SB_DFFN
set_location uut.pc.program_counter[1] 8 10 4 #SB_DFF
set_location uut.IR.ff5.q_0_fast 8 15 6 #SB_DFFN
set_location uut.ALU_main.un1_A_cry_4_c_RNIJC255 9 12 6 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_4_c 9 12 5 #SB_CARRY
set_location uut.AR.ff3.q_RNO 12 10 3 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNIFJ9BG[0] 9 10 6 #SB_LUT4
set_location uut.ALU_main.g0_0 11 9 7 #SB_LUT4
set_location uut.AR.ff2.q_RNO 6 10 5 #SB_LUT4
set_location uut.mem.data_2_7_0_.N_7_i_m 12 14 4 #SB_LUT4
set_location uut.AR.ff4.q_ne 12 11 2 #SB_DFFNE
set_location uut.mar.ff3.q_RNO 12 13 6 #SB_LUT4
set_location uut.acc.ff6.q_RNIEIB71 6 11 2 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_1_c_RNI46ADE_0 7 10 2 #SB_LUT4
set_location uut.seq.counter.T_1_fast_RNI6RIE3[0] 9 11 7 #SB_LUT4
set_location uut.out_reg.ff1.q_RNO 7 8 7 #SB_LUT4
set_location uut.mem.data_2_7_0_.m10 11 14 6 #SB_LUT4
set_location uut.AR_BUF.g0_3_a10_1_1 8 9 5 #SB_LUT4
set_location uut.AR_BUF.g0_2 12 12 6 #SB_LUT4
set_location uut.AR_BUF.g0_0_a5 7 9 4 #SB_LUT4
set_location uut.IR.ff1.q_ne_RNI2QSE5 7 11 3 #SB_LUT4
set_location uut.IR.ff5.q_0_rep1 8 15 0 #SB_DFFN
set_location uut.ALU_main.un1_A_cry_6_c_RNINIMN4 9 13 0 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_0_c_RNIUP3DE 11 9 1 #SB_LUT4
set_location uut.seq.counter.T_1_RNICCTC1[0] 8 10 3 #SB_LUT4
set_location uut.pc.program_counter_RNO_0[1] 9 11 6 #SB_LUT4
set_location uut.AR_BUF.g0_0_0_1 7 9 2 #SB_LUT4
set_location uut.acc.ff5.q_RNIDGA71 7 12 0 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_2_c 9 12 3 #SB_CARRY
set_location uut.seq.counter.T_1_fast_RNI874E2[0] 8 15 3 #SB_LUT4
set_location uut.mem.data_2_7_0_.m20 11 11 2 #SB_LUT4
set_location uut.seq.q_ret_1_RNO 6 12 2 #SB_LUT4
set_location uut.b_reg.ff5.q 7 12 1 #SB_DFFNE
set_location uut.ALU_main.un1_A_cry_5_c 9 12 6 #SB_CARRY
set_location uut.seq.counter.T_1_fast_RNIVM0N3[0] 8 11 4 #SB_LUT4
set_location uut.pc.program_counter_RNO_1[2] 11 11 7 #SB_LUT4
set_location uut.out_reg.ff5.q_RNO 6 14 7 #SB_LUT4
set_location uut.mar.ff4.q_ne 12 14 0 #SB_DFFNE
set_location uut.IR.ff7.q_0_ne 7 13 4 #SB_DFFNE
set_location uut.AR_BUF.g0_5 12 11 1 #SB_LUT4
set_location uut.AR_BUF.g0_3_0 9 9 2 #SB_LUT4
set_location uut.ALU_main.un1_A_cry_2_c_RNIBSP45 9 12 4 #SB_LUT4
set_location uut.seq.decoder.D_6 8 14 2 #SB_LUT4
set_location uut.acc.ff5.q 11 13 4 #SB_DFFNE
set_location uut.AR_BUF.out_1_ivdup_0 12 12 3 #SB_LUT4
set_location uut.ALU_main.un1_A_axb_3_l_ofx 9 11 0 #SB_LUT4
set_location uut.seq.counter.T_2_rep1_RNI51JC1 8 12 1 #SB_LUT4
set_location uut.seq.counter.T_1[3] 11 14 5 #SB_DFFN
set_location uut.IR.ff1.q_ne_RNIKEQ11 9 9 4 #SB_LUT4
set_location uut.ALU_main.ALU_Out_0[7] 7 14 4 #SB_LUT4
set_location uut.seq.decoder.D_2_0 9 14 6 #SB_LUT4
set_location uut.seq.counter.T_1_RNI5ENL7[3] 6 13 7 #SB_LUT4
set_location uut.IR.ff7.q_ret_1_fast 8 14 3 #SB_DFFN
set_location uut.ALU_main.un1_A_cry_5_c_RNISM3EE 6 11 4 #SB_LUT4
set_location uut.out_reg.ff1.q 7 8 7 #SB_DFFN
set_location uut.ALU_main.g0 11 12 1 #SB_LUT4
set_location GND -1 -1 -1 #GND
set_location uut.ALU_main.un1_A_axb_7 9 13 6 #SB_LUT4
set_location uut.seq.counter.T_1_RNI33MC3[3] 8 12 2 #SB_LUT4
set_location uut.AR_BUF.g0_1_a10 8 8 7 #SB_LUT4
set_location uut.IR.ff3.q 11 16 0 #SB_DFFN
set_location uut.pc.program_counter_RNO_3[0] 9 10 3 #SB_LUT4
set_location uut.IR.ff6.q_0_fast 9 15 4 #SB_DFFN
set_location uut.AR_BUF.g0_1_a10_4 8 9 0 #SB_LUT4
set_io LED4 96
set_io LED2 98
set_io LED5 95
set_io LED3 97
set_io LED1 99
